.home{
    display:flex;
    justify-content:space-between;
    
}
.home-right{
    margin-right: 50px;
}
.home-left{
    margin-top: 200px;
    margin-left: 50px;
    font-weight: 700;
    font-style: italic;
    font-size: 70px;
}


.home-right img{
    width: 450px;
    height: 100%;
    border-radius: 10px;
}
.review-container{
    margin-top: 250px;
}