.home{
    display:flex;
    justify-content:space-between;
    
}
.home-right{
    margin-right: 50px;
}
.home-left{
    margin-left: 50px;
    font-weight: 700;
}
.btn{
    color: white;
    background-color:gray;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border:none;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.btn:hover{
    background-color: lightgray;
    transition: 0.5s;
    
   
}
.home-right img{
    width: 450px;
    height: 100%;
    border-radius: 10px;
}